{% extends 'base.html' %}

{% block content %}
<input type="text" id="searchInput" placeholder="Введите запрос...">
<style>
#searchInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    margin-bottom: 10px;
}
</style>
    <h1 style="text-align: center;">Список Единиц</h1>
    <div style="margin: 0 auto; width: 80%;">
        <table border="1" style="width: 100%; border-collapse: collapse;">
            <thead>
                <tr>
                    <th style="padding: 10px;">Вид техники</th>
                    <th style="padding: 10px;">Серийный номер</th>
                    <th style="padding: 10px;">Номер инвентаризации</th>
                    <th style="padding: 10px;">Склад</th>
                    <th style="padding: 10px;">Этаж</th>
                    <th style="padding: 10px;">Кабинет</th>
                    <th style="padding: 10px;">Производитель</th>
                    <th style="padding: 10px;">Модель</th>
                    <th style="padding: 10px;">В ремонте</th>
                    <th style="padding: 10px;">Ответственный</th>
                    <th style="padding: 10px;">MAC-адрес</th>
                    <th style="padding: 10px;">Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for ed in edinica_list %}
                    <tr>
                        <td style="padding: 10px;">{{ ed.title }}</td>
                        <td style="padding: 10px;">{{ ed.seriniy }}</td>
                        <td style="padding: 10px;">{{ ed.invent }}</td>
                        <td style="padding: 10px;">{{ ed.sklad.title }}</td>
                        <td style="padding: 10px;">{{ ed.etazh.title }}</td>
                        <td style="padding: 10px;">{{ ed.kabinet.title }}</td>
                        <td style="padding: 10px;">{{ ed.brand }}</td>
                        <td style="padding: 10px;">{{ ed.modelmodel }}</td>
                        <td style="padding: 10px;">{{ ed.remont }}</td>
                        <td style="padding: 10px;">{{ ed.lico }}</td>
                        <td style="padding: 10px;">{{ ed.mac }}</td>
                        <td style="padding: 10px;">
                            <a href="{% url 'storage:edinica_detail' ed.pk %}">Подробнее</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        const searchInput = document.getElementById('searchInput');
        searchInput.addEventListener('input', function() {
            const query = this.value.toLowerCase();
            const rows = document.querySelectorAll('tbody tr');
            rows.forEach(row => {
                const cells = row.querySelectorAll('td');
                let containsQuery = false;
                cells.forEach(cell => {
                    const cellText = cell.textContent.toLowerCase();
                    console.log("Cell text:", cellText); // Добавим эту строку для отладки
                    if (cellText.includes(query)) {
                        containsQuery = true;
                    }
                });
                if (containsQuery) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        });  
    </script>
{% endblock %}

